.about_area {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.5;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    display: block;
    background: #1f2128;
    padding-top: 48px;
    padding-bottom: 48px;
}

.footer_social ul {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.5;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    margin-top: 0;
    list-style: none;
    margin-bottom: 0px;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}

.footer_social ul li {
    margin: 1em;
}

.footer_social ul li a {
    padding: 1em;
    display: block;
    color: white;
    width: 45px;
    height: 45px;
    border: solid 1px #FFFFFF;
    box-shadow: 0 0 1px 0px #FFFFFF inset, 0 0 1px 0px #FFFFFF;
    border-radius: 50%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    margin: 1em;
}

.footer a {
    color: white;
    display: block;
}

.music_area {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    padding-bottom: 50px;
    border-bottom: 1px solid #EFEFEF;
    padding-top: 50px;
    background: #fff;
}

.music_field {
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}

.music_area .music_field .thumb {
    overflow: hidden;
    float: left;
    margin-right: 50px;
}

.music_area .music_field .audio_name {
    overflow: hidden;
    position: relative;
    top: 15px;
}

.music_area .music_field .audio_name .name {
    margin-bottom: 12px;
}

.music_area .audioplayer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0 24px;
    width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid #DDE2E6;
    border-radius: 4px;
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.music_area .music_btn {
    text-align: right;
}

.boxed-btn {
    background: transparent;
    display: inline-block;
    padding: 12px 42px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border: 1px solid #ED1B1B;
    letter-spacing: 0;
    text-align: center;
    color: #ED1B1B !important;
    text-transform: capitalize;
    cursor: pointer;
}

.music_gallery .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    border-left: 12px solid #615cfd!important;
}

.music_area .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    content: '';
    justify-content: center;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #fff;
}

.music_gallery .audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
    background: transparent;
    border: 1px solid #615cfd!important;
}

.music_area .audioplayer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0 24px;
    width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background: 0 0;
    margin: 0;
    padding: 0;
    border: none;
}

.music_area .music_field .audio_name .name {
    margin-bottom: 12px;
}

.music_gallery .music_field .audio_name .name h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    color: #001d38;
}

.music_area .music_field .audio_name .name p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.poem, .audio_name h4{
font-family: 'Gotu', sans-serif;
}

.audio_name h4{
	font-size:20px;
	line-height:50px;
}
